/* Conform to fonts in https://intranet.surf.nl/display/COM/Huisstijlhandboek */
body {
    font-family: Arial, sans-serif;
}
h1 {
    font-family: VarelaRoundRegular, serif;
}
h2 {
    font-family: ProximaNovaSoft, serif;
}
h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
}
/* need to do the same for div.body */
div.body h1 {
    font-family: VarelaRoundRegular, serif;
}
div.body h2 {
    font-family: ProximaNovaSoft, serif;
}
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: Arial, sans-serif;
}